:root {
--blue-color: #0075ff;
--white-color: #fff;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Tahoma;
  background-image: url(./imgs/start-bg.png);
  background-size: cover;
  transition: .3s all ease-in-out;
  overflow: hidden;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--blue-color);
  border-radius: 8px;
}
.container > div:not(.start) {
  display: none;
  padding: 20px;
}

.container {
  width: 400px;
  max-width: 100%;
  height: calc(100vh - 40px);
  margin: 20px auto;
  background-color: var(--white-color);
  border-radius: 8px;
  border: 1px solid #DDD;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.container .start h1 {
  color: var(--blue-color);
  font-size: 40px;
}
.container .start p {
  color: #777;
  font-size: 20px;
  margin: 10px 0 80px;
  text-align: center;
}
.container .start input {
  display: block;
  width: 100%;
  padding: 10px 15px;
  border: 2px solid var(--blue-color);
  border-radius: 6px;
  font-size: 18px;
  caret-color: var(--blue-color);
  outline: none;
  color: var(--blue-color);
  text-transform: capitalize;
}
.container .start input::placeholder {
  color: var(--blue-color);
}
.container .start button {
  width: 100%;
  border-radius: 8px;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: var(--blue-color);
  color: var(--white-color);
  outline: none;
  border: none;
  padding: 10px;
  margin-top: 15px;
  cursor: pointer;
  transition: .3s;
}
.container .start button:hover {
  box-shadow: 0 0 15px var(--blue-color);
  letter-spacing: 3px;
}
.container .home .title {
  color: var(--blue-color);
}
.container .home .langs {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.container .home .langs .lang {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(75deg, var(--blue-color), #009688);
  color: var(--white-color);
  border-radius: 8px;
  padding: 20px;
  cursor: pointer;
  width: 320px;
  max-width: 100%;
  transition: .3s;
}
.container .home .langs .lang:hover {
  scale: 1.1;
  box-shadow: 0 0 15px var(--blue-color);
}
.container .home .langs .lang:hover img {
  rotate: 10deg;
}
.container .home .lang img {
  width: 70px;
  transition: .5s;
}
.container .home .langs .lang h1 {
  margin-bottom: 10px;
}
.container .questions {
  background-image: linear-gradient(45deg, var(--blue-color), #009688);
  padding: 20px;
  height: calc(100vh - 42px);
} 
.container .questions .time {
  display: flex;
  gap: 15px;
  color: var(--white-color);
  
  justify-content: center;
  align-items: center;
}
.container .questions .time img {
  width: 30px;
}
.container .questions .questions-nums {
  font-size: 18px;
  color: #DDD;
  margin-bottom: 5px;
}
.container .questions .question {
  color: var(--white-color);
  font-size: 25px;
  min-height: 120px;
}
.container .questions .answers {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}
.container .questions .answers .answer {
  padding: 15px;
  border-radius: 6px;
  background-color: var(--white-color);
}
.container .questions .submit {
  width: 100%;
  border: none;
  outline: none;
  padding: 15px;
  background-color: orange;
  margin-top: 20px;
  font-size: 20px;
  color: var(--white-color);
  cursor: pointer;
  border-radius: 6px;
  transition: .3s;
}
.container .questions .submit:hover {
  box-shadow: 0 0 15px orange;
}
.questions .form input[type="radio"] {
  display: none;
  position: relative;
}
.questions .form label {
  position: relative;
  padding-left: 22px;
}
.questions .form input[type="radio"] + label::before {
  position: absolute;
  content: '';
  width: 16px;
  height: 16px;
  border-radius: 4px;
  border: 1px solid #DDD;
  left: -3px;
  top: 1px;
}
.questions .form input[type="radio"]:checked + label::after {
  position: absolute;
  content: '';
  width: 12px;
  height: 12px;
  border-radius: 4px;
  border: 1px solid #DDD;
  left: -1px;
  top: 3px;
  background-color: var(--blue-color);
}
.result {
  max-height: calc(100vh - 40px);
  overflow-y: scroll;
  position: absolute;
  top: 0;
}
.result .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  color: var(--blue-color);
  margin: 15px 0;
  min-width: 320px;
  max-width: 100%;
  gap: 50px;
}
.result .wrong-title {
  color: var(--blue-color);
  text-align: center;
  margin: 35px 0 10px;
}
.result .progress-box {
  margin: 20px;
  text-align: center;
}
.result .progress-box .level {
  color: #009688;
  margin-bottom: 5px;
}
.result .progress-box .progress {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 20px;
  border-radius: 10px;
  background-color: #EEE;
}
.result .progress-box .progress span {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: #009688;
}
.result .wrong {
  display: none;
}
.result .wrong-questions {
  border-top: 2px solid #DDD;
  border-color: #DDD transparent;
  padding: 10px 0;
}
.result .wrong-questions .question {
  font-size: 23px;
  margin-bottom: 10px;
  color: #777;
}
.result .wrong-questions .answer {
  color: var(--blue-color);
}
.result .restart {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  background: var(--blue-color);
  color: white;
  font-size: 20px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  margin: 20px 0;
  transition: .3s;
}
.result .restart:hover {
  box-shadow: 0 0 15px var(--blue-color);
}

@media (max-width: 475px) {
  .container {
    margin: auto;
    height: 100vh;
    width: 100%;
    max-width: 100%;
  }
  .container .questions {
    height: 100vh;
  }
}